.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.up-bar {
  border: 1px solid rgb(161, 159, 157);
}
.body{
  width: 99%;
  min-height: 88vh;
  display: flex;
  float: left;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid rgb(161, 159, 157); */
}
.App-nav {
  align-self: flex-start;
  border: 1px solid rgb(161, 159, 157);
  /* border-width: 4px; */
  width: 300px;
  min-height: inherit;
}